<html>
  <body>
    <h1>Create a New Menu Item</h1>

    <form action="{{ url_for('newMenuItem',restaurant_id=restaurant_id) }}" method="POST">
      <p>Fill in the foolowing information:</p>
      <input type="text" size="30" name="name" placeholder="name"><br>
      <input type="text" size="30" name="course" placeholder="course"><br>
      <input type="text" size="30" name="description" placeholder="description"><br>
      <input type="text" size="30" name="price" placeholder="price"><br>
      <input type="submit" value="Create"><br>
    </form>

  </body>
</html>